<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.example.system.dao.ISysUserDao">
	<!-- resultMap -->
	<resultMap type="com.example.system.entity.SysUser" id="sysUserMap">
	      <result property="id" column="id" />
	      <result property="realName" column="real_name" />
	      <result property="username" column="username" />
	      <result property="password" column="password" />
	      <result property="email" column="email" />
	      <result property="phone" column="phone" />
	      <result property="tel" column="tel" />
	      <result property="status" column="status" />
	      <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
	      <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
	</resultMap>
	<!--sql标签用来定义一些可以被重用的sql语句或字段或片段等  -->
	<sql id="userColumns"> 
		<![CDATA[ select id,real_name,username,password,email,phone,tel,status,
			update_date,create_date
		from sys_user ]]>
	 </sql>
    <!-- 获取用户: 根据登录名 -->
	<select id="getUserByOrgCode" parameterType="map" resultMap="sysUserMap">
		<include refid="userColumns"/>
		where org_code=#{record.orgCode}
	</select>
	
</mapper> 
